<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightskyblue">
    <a class="navbar-brand" href="/">Jessica's UV Checker &#x2600;</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"> &#9925; </a>
      </li>
    </ul>
  </nav>
  